@model NetvieWeb.Models.Peliculas

@{
    ViewBag.Title = "Netvie";
}       

@Styles.Render("~/Content/Novedades.css")
@Scripts.Render("~/Scripts/Novedades.js")

<div id="Novedades" class="NodoSeries">
    <h2>Novedades</h2>
    <!--<span class="Prev">
        <img src="~/Images/left-arrow.png" />
    </span>-->
    <div class="SeriePeliculas">
        <ul class="Lista">
            @foreach (NetvieWeb.Models.Pelicula pelicula in Model)
            {
                <li class="item">
                    <a href="~/Home/Pelicula?idpelicula=@pelicula.idPelicula">
                        <img src="~/Images/@pelicula.Imagen" height="140" width="150"/>
                        <span>@pelicula.TituloEsp</span>
                    </a>
                </li>
            }
        </ul>
    </div>
    <!--<span class="Next">
        <img src="~/Images/right-arrow.png" />
    </span>-->
</div>
