::-webkit-scrollbar {
    width: 10px;
    background: #DBE8EC;
}

::-webkit-scrollbar-button {
    width: 8px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: -webkit-linear-gradient(top, #5aafb0, #4ca06d);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,225,.5), inset 1px 0 0 rgba(255,255,255,.4), inset 0 1px 2px rgba(255,255,255,.3);
    border: thin solid #232c34;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}

    ::-webkit-scrollbar-thumb:hover {
        background: -webkit-linear-gradient(top, #4ca06d, #5aafb0);
    }
    /* Pseudo-clase */
    ::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(77,161,112,.6);
    }

::-webkit-scrollbar-track {
    background: #3c454e;
    border: thin solid #1a1f25;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.Next {
    position:absolute;
    margin-left:-20px;
}

.Prev {
    position:absolute;
    margin-left:-20px;
}
.Next img, .Prev img {
    height: 200px;
    width: 30px;
}


    .Next img:hover, .Prev img:hover {
        opacity: 0.3;
        background: #999;
    }

.SeriePeliculas {
    /*display: inline-block;*/
    overflow: hidden;
    overflow-x: auto;
    /*min-width: 500px;
    max-width: 500px;
    height: 200px;*/
}

    .SeriePeliculas:hover {
        overflow: auto;
        overflow-y: hidden;
        -webkit-scrollbar: touch;
    }

.Lista {
    list-style: none;
    width: auto;
    margin-left:-30px;
}

.item {
    display: inline-block;
    width: 150px;
}
